<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= symbol %> - Binance</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <fieldset>
      <form onsubmit="return validateForm();" action="/" method="post">
        <input name="symbol" id="form_symbol" type="text" class="ghost-input" placeholder="Enter Symbol">
        <input name="min" id="form_min" type="text" class="ghost-input" placeholder="Enter Min Amount">
        <input type="submit" class="ghost-button" value="Get Trades">
      </form>
    </fieldset>

    <div id="charts" class="charts">
      <div class="wrapper">
        <span>Last 100 Trades</span>
        <div class="box">
          <span class="title">Buyer Count</span>
          <span class="content" id="buyer_total100"><%= last100.buyer.total %></span>
        </div>
        <div class="box">
          <span class="title">Seller Count</span>
          <span class="content" id="seller_total100"><%= last100.seller.total %></span>
        </div>
        <div class="box">
          <span class="title">Buy Volume</span>
          <span class="content" id="buyer_volume100"><%= last100.buyer.volume > 999 ? Math.round(last100.buyer.volume/1000) + 'k' : Math.round(last100.buyer.volume) %></span>
        </div>
        <div class="box">
          <span class="title">Sell Volume</span>
          <span class="content" id="seller_volume100"><%= last100.seller.volume > 999 ? Math.round(last100.seller.volume/1000) + 'k' : Math.round(last100.seller.volume) %></span>
        </div>
        <div class="box">
          <span class="title">Big Buyers</span>
          <span class="content" id="buyer_big100"><%= last100.buyer.big %></span>
        </div>
        <div class="box">
          <span class="title">Big Sellers</span>
          <span class="content" id="seller_big100"><%= last100.seller.big %></span>
        </div>
        <div class="box">
          <span class="title">Bigger Buyers</span>
          <span class="content" id="buyer_bigger100"><%= last100.buyer.bigger %></span>
        </div>
        <div class="box">
          <span class="title">Bigger Sellers</span>
          <span class="content" id="seller_bigger100"><%= last100.seller.bigger %></span>
        </div>
      </div>

      <div class="wrapper">
        <span>Last 500 Trades</span>
        <div class="box">
          <span class="title">Buyer Count</span>
          <span class="content" id="buyer_total500"><%= last500.buyer.total %></span>
        </div>
        <div class="box">
          <span class="title">Seller Count</span>
          <span class="content" id="seller_total500"><%= last500.seller.total %></span>
        </div>
        <div class="box">
          <span class="title">Buy Volume</span>
          <span class="content" id="buyer_volume500"><%= last500.buyer.volume > 999 ? Math.round(last500.buyer.volume/1000) + 'k' : Math.round(last500.buyer.volume) %></span>
        </div>
        <div class="box">
          <span class="title">Sell Volume</span>
          <span class="content" id="seller_volume500"><%= last500.seller.volume > 999 ? Math.round(last500.seller.volume/1000) + 'k' : Math.round(last500.seller.volume) %></span>
        </div>
        <div class="box">
          <span class="title">Big Buyers</span>
          <span class="content" id="buyer_big500"><%= last500.buyer.big %></span>
        </div>
        <div class="box">
          <span class="title">Big Sellers</span>
          <span class="content" id="seller_big500"><%= last500.seller.big %></span>
        </div>
        <div class="box">
          <span class="title">Bigger Buyers</span>
          <span class="content" id="buyer_bigger500"><%= last500.buyer.bigger %></span>
        </div>
        <div class="box">
          <span class="title">Bigger Sellers</span>
          <span class="content" id="seller_bigger500"><%= last500.seller.bigger %></span>
        </div>
      </div>
    </div>

    <div id="info" style="display: none" class="info">
      <p2>Last trade: </p2>
      <p2 id="last_trade_timestamp">
        <%= new Date(parseInt(last_trade_timestamp)).toTimeString().substring(0,15) %>
      </p2><br>
      <p2> Binance: <%= (bncUsed) ? "Available" : "Not Available" %></p2><br>
      <p2> Bitfinex: <%= (bfxUsed) ? "Available" : "Not Available" %></p2>
    </div>
      <p2 style="display: none" id="min">
        <%= min %>
      </p2><br>
      <p2 style="display: none" id="symbol">
        <%= symbol %>
      </p2>
  </div>

  <% if (trades) { %>
    <script>
      var REST_TRADES = JSON.parse('<%- JSON.stringify(trades) %>');
      var bncUsed = JSON.parse('<%- JSON.stringify(bncUsed) %>');
      var bfxUsed = JSON.parse('<%- JSON.stringify(bfxUsed) %>');
    </script>
  <% } %>
  <script type="text/javascript">
    function validateForm() {
      var form_symbol = document.getElementById('form_symbol');
      var form_min = document.getElementById('form_min');

      if (form_symbol.value.length === 0) {
      form_symbol.value = document.getElementById('symbol').innerText;
      }

      if (form_min.value.length === 0) {
      form_min.value = document.getElementById('min').innerText;
      }
      return true;
    }
  </script>
  <script src="/js/socket.js"></script>
  <!-- <script src="https://raw.githubusercontent.com/Pixabay/JavaScript-autoComplete/master/auto-complete.min.js"></script> -->
</body>

</html>